body
{
    background-color: #0E0E0E;
}
p
{
    padding-left: 8.5%;
    font-size: 120%;
}

#NamePreset
{
    border-radius: 5px;
    border-width: thin;
    font-size: 80%;
    /*border: 2px solid green;*/
    background-color:#242424;
    color:  #fff;
    padding: 1%;
    text-align:center;
}

::placeholder
{
    font-style : italic;
    color:#cccccc;
}

#MainDiv
{
    background-color:#242424;
    width:90%;
    height:250px;
    border-radius:15px;
    margin: auto;
    color: white;

}

/*#TextMainDiv
{
    padding-left:2%;
    padding-top: 3%;
    width: 10%;
    background-color: aliceblue;
    display:inline-block;
}*/

/*#DropdownDiv
{
    background-color: #434141;
    width:20%;
    height:10%;
    margin-left: auto;
    border: 2px solid  #1DB954;
    border-radius: 10px;
}*/

#addedZone{
  padding: 20px 25px 20px 25px;
  display: flex;
}

#CapteursDiv
{
    font-weight: thin;
    font-family: Arial, Helvetica, sans-serif;
    color: #1DB954;
    margin-left: 2%;
    /*text-align: right;
    width: 10%;
    margin-left: auto;
    padding-right: 4%;
    padding-top: 3.5%;
    display:inline-block;*/
    /* position: relative;
    left: 85%;
    top: 35%; */
}

#SaveZone
{
    text-align: center;
    margin-top: 2%;
    /* opacity: 0.8; */
}

#SaveZone:hover #Save
{
    background-color:#4ff74f;
}
#Save
{
    border-radius: 10px;
    font-size: 120%;
    background-color: #fff;
    padding: 1%;
    text-align:center;
    width: 25%;
}


.fa-arrow-left
{
    padding-left: 8.5%;
    font-size: 150%;
    color: #fff;
}

.fa:hover .fa-arrow-left
{
    color: #66ff66;
}
