.dashboard-inner-container.select-user div, .dashboard-inner-container #add-user-form{
  flex : 1;
}


#add-user-form{
  display: flex;
  align-items: center;
}

#add-user-form div{
  flex: 1;
}

#add-user-form div input[type=text]{
  width: 80%;
  padding: 5px;

}

.dashboard-inner-container .room-container{
  flex : 0 40%;
  margin-right: 10%;
  margin-bottom: 3%;
}

.room-container h3{
  margin-bottom: 5%;
}

#users-table{
  box-shadow: 1px 1px 4px 2px rgba(0, 0, 0, 0.5);
  border-collapse: collapse;
}

#users-table th,#users-table td{
  padding: 10px 15px 10px 15px;
  color : #000;
  background-color: #fffaf2 ;
  margin: 0 2px 2px 0;
}

.room-container td{
  color :#000;
}

div.dashboard-inner-container.change-user-rights{
  display: none;
}

.edit-button{
  display: none;
  margin-left: 15px;
  margin-top: 3px;
}

.off.ic.ic-eye:before {
  background-color: #777;
}

.on.ic.ic-eye:before {
  background-color: #000;
}

.off.ic.ic-pencil:before {
  background: linear-gradient(to bottom, #777 0%, #777 15%, #fff 15%, #fff 25%, #777 25%, #777 100%);
}

.off.ic.ic-pencil:after {
  border-color: #777 transparent transparent transparent;
}

.on.ic.ic-pencil:before {
  background: linear-gradient(to bottom, #000 0%, #000 15%, #fff 15%, #fff 25%, #000 25%, #000 100%);
}

.on.ic.ic-pencil:after {
  border-color: #000 transparent transparent transparent;
}
