/* section haute: preset */

i span {
  font-family : Arial,
                sans-serif;
  font-size   : 0.8em;
  font-weight : 500;
}

.myhouse-add-button {
  margin-left   : 15px;
  padding       : 8px 13px 8px 13px;
  border-radius : 5px;
  background    : #ff8633;
  box-shadow    : 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
  cursor        : pointer;
}

.section_preset {
  margin : 20px 0 20px 0;
}

.preset-button {
  display          : inline-block;
  padding          : 8px 13px 8px 13px;
  border           : none;
  border-radius    : 5px;
  background-color : #fff;
  box-shadow       : 0px 0px 6px 2px rgba(0, 0, 0, 0.2);
  cursor           : pointer;
	font-family : Arial,
								sans-serif;
	font-size   : 0.8em;
	font-weight : 500;
	margin-right: 15px;
}

.create_preset {
  margin-left : 0.5em;
}

.room {
  color : #262626;
}

.room_header {
  display         : flex;
  margin-bottom   : 20px;
  align-items     : center;
  justify-content : space-between;
}

.header_left {
  display        : flex;
  min-width      : 25%;
  align-items    : center;
  flex-direction : row;
}

#add-comp-title,
#add-preset-title,
#add-room-title {
  margin-left : 5px;
}

.section_components {
  max-height      : 100%;
  margin-top      : 10px;
  align-items     : flex-start;
  justify-content : flex-start;
}

.components_line {
  display : flex;
}

.components_line:not(:last-child) {
  margin-bottom : 20px;
}

/* bouton on/off fin */



.section_add_component {
  display     : flex;
  margin-left : auto;
}

/* section bas: add a room */

.section_add_room {
  display         : flex;
  padding         : 20px;
  align-content   : center;
  align-items     : center;
  flex-direction  : row;
  justify-content : flex-start;
}

.section_add_room form {
  display     : flex;
  align-items : center;
}

.section_add_room > form > button {
  margin-right : 20px;
}

.create_room {
  margin-left : 0.5em;
}

.delete-room-icon {
  cursor : pointer;
}

input {
  border    : 0px;
  font-size : 22px;
}

input:hover {
  border : solid #EFEFEF 1px;
}

input:focus {
  color      : grey;
  border     : solid #EFEFEF 1px;
  font-style : italic;
  /* background-color: #F5F5F5; */
}
