body
{
    background-image: linear-gradient(to bottom right, #fff 0, #206ea5 50%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #fff;
}

.total-wrapper
{
    display: flex;
}

.half-wrapper:last-child
{
    width: 15%;
    text-align: left;
}
.half-wrapper:first-child
{
    width: 90%;
}
.half-wrapper:first-child section
{
    display: flex;
    flex-wrap: wrap;
    width : 95%;
}

.selectors
{
    display: flex;
    width: 50%;
    margin-bottom: 0.6em;
}

.label
{
    width: 35%;
}

.dropdown
{
    width: 20%;
}


#presetsTable
{
    width: 90%;
    float: center;
    background-color: #fff;
    color: #0E0E0E;
}
#presetsTable, th, td
{
    border: 1px solid #0E0E0E;
    border-collapse: collapse;
    padding: 1.5%; /* aggrandit la taille des cellules*/
}
th
{
   text-align: left;
}
