body {
  color            : #fff;
  background-image : -webkit-gradient(
                       linear,
                       left top, right bottom,
                       color-stop(0, #fff),
                       color-stop(50%, #206ea5)
                     );
  background-image : linear-gradient(
                       to bottom right,
                       #fff 0,
                       #206ea5 50%
                     );
  font-family      : Arial,
                     Helvetica,
                     sans-serif;
  font-weight      : lighter;
}

.total-wrapper {
  display : -webkit-box;
  display : -ms-flexbox;
  display : flex;
}

.half-wrapper {
  width : 90%;
}

.half-wrapper section {
  display   : -webkit-box;
  display   : -ms-flexbox;
  display   : flex;
  width     : 95%;
  -ms-flex-wrap : wrap;
      flex-wrap : wrap;
}

.half-wrapper section select {
  width       : 45%;
  text-indent : 5%;
}

.half-wrapper section select option {
  text-align : center;
}

.selectors {
  display       : -webkit-box;
  display       : -ms-flexbox;
  display       : flex;
  width         : 50%;
  margin-bottom : 0.6em;
}

.label {
  width : 35%;
}

.dropdown {
  width : 20%;
}

#presetsTable {
  width            : 90%;
  float            : center;
  color            : #0E0E0E;
  background-color : #fff;
}

#presetsTable,
td,
th {
  padding         : 1.5%;
  border          : 1px solid #0E0E0E;
  border-collapse : collapse;
  /* aggrandit la taille des cellules */
}

th {
  text-align : left;
}
