div {
    color: #262626;
}

.page-content{
  width: 980px;
}

.signup-opener, .login-opener, .contact-opener {
    cursor: pointer;

}

a,p{
  font-family: 'Arial',sans-serif;
  font-size: 1.2em;
}

h1{
  font-size: 4.5em;
  margin: 30px 0px 50px 0px;
  font-family: 'Arial',sans-serif;
  font-weight: 400;
  color: #333333;
}

h2{
  font-size : 2.4em;
  margin: 0px 0px 30px 0px;
  font-family: 'Arial',sans-serif;
  font-weight: 500;
}

h3{
  font-size: 1.3em;
  margin: 0px 0px 25px 0px;
  font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
  font-weight: 400;
  color :  #404040;
}

.content-wrapper{
  background-color: #fafafa;
  padding-top: 80px;
  margin-top: 12px;
}
.full-screen-image{
  background-image: url("../resources/images/smarthome1.jpg");
  padding: 40vh 0 40vh 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

img.content-image{
  width: 100%;
}
