body
{
    background-image: linear-gradient(to bottom right, #ddd, #206ea5 50%);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: #0E0E0E;
}
#page-content
{
    margin:auto;
    padding:5%;
    width: 980px;
}

#information
{
    background-color: #fff;
    width: 100%;
    border-radius:6px;
    margin: auto;
    margin-top: 1%;
    color: #0E0E0E;
}
h1
{
    padding-left:5%;
    padding-top:5%;
    color:  #206ea5;
}
#page-title
{
    color: #fff;
    font-size: 48px;
}

.info_container
{
    padding:5%;
}

#user_info{border-collapse: collapse;}
.user_info, tr, td
{
    border: 1px solid #ddd;
    padding: 3%;
    width: 35%; 
}
.sensors_container
{
    background-color: #fff;
    width: 100%;
    border-radius:6px;
    margin: auto;
    margin-top: 3%;
    color: #0E0E0E;
}
.sensors
{
    padding:5%;
}
#user_sensors
{border-collapse: collapse;}
.user_sensors, tr, td
{
    border: 1px solid #0E0E0E;
    padding: 3%;
    width: 5%; 
}
#title-row
{
    padding-top: 5px;
    padding-bottom: 5px;
}
#delete
{
    padding          : 10px 20px 10px 20px;
    color            : #fff;
    border           : 2px solid #df0a0a;
    border-radius    : 5px;
    background-color : #df0a0a;
    font-size        : 1.2em;
    -webkit-transition       : all 0.15s;
    transition       : all 0.15s;
    cursor           : pointer;
  }
  #delete:hover
  {
    color            : #df0a0a;
    border           : 2px solid #df0a0a;
    background-color : #fff;
  }
  


