
header{
  display: flex;
  position: sticky;
  top:0;
  flex: 0 1 auto;
  min-height: 50px;
  transition: min-height 0.1s;
  z-index: 9999;
}

header.sticky{
  min-height: 42px;
}

#nav-container{
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

#main-menu{
  height: 100%;
  float: right;
}

#menu-list{
  display: block;
  margin: 0px;
  height : 100%;
  padding: 0px;
}

.menu-item{
  display: inline-block;
  height : 100%;
}

.menu-item a{
  display : block;
  padding: 15px 15px 15px 15px;
  font-size : 1.2em;
  font-family: Trebuchet MS,Helvetica,Sans-serif;
  font-weight: lighter;
  text-decoration: none;
  transition: ease-in-out 0.12s ;
}

header.sticky .menu-item a{
  padding: 10px 15px 10px 15px;
  font-size : 1.2em;
}
