:root{
  --main-theme-color : #444444;
}

header.sticky {
  background-color: var(--main-theme-color);
  border-bottom: none;
  max-height: 42px;
  height: 42px;
}

#menu-logo{
  display: none;
}

#menu-logo-white{
    height : 40px;
    width: 40px;
    margin: 5px 0 5px 0;
    float: left;
    transition: all 0.15s;
}

header.sticky #menu-logo-white {
  height: 32px;
  width: 32px;
  display: block;
}


.menu-item a{
  color:  #fff;
  border-radius: 5px;
}


.menu-item:hover a{
  background-color: rgba(255, 255, 255, 0.2);
}
