:root{
  --main-theme-color : #206ea5;
}

header{
  display: flex;
  border-bottom: 3px var(--main-theme-color) solid;
  position: sticky;
  top:0;
  background-color: #fff;
  flex: 0 1 auto;
  min-height: 55px;
  transition: min-height 0.1s;
}

header.sticky{
  background-color: var(--main-theme-color);
  border-bottom: none;
  min-height: 42px;
}

#nav-container{
  margin-left: auto;
  margin-right: auto;
  width: 980px;
}

#menu-logo,#menu-logo-white{
    height : 40px;
    width: 40px;
    margin-top : 4.6px;
    float: left;
}

header.sticky #menu-logo-white{
  margin-top : 4.6px;
  height : 32px;
  width: 32px;
}

header.sticky #menu-logo{
  display: none;
}

#main-menu{
  height: 100%;
  float: right;
}

#menu-list{
  display: block;
  margin: 0px;
  height : 100%;
  padding: 0px;
}

.menu-item{
  display: inline-block;
  height : 100%;
}

.menu-item a{
  display : block;
  padding: 15px 15px 15px 15px;
  font-size : 1.2em;
  font-family: Trebuchet MS,Helvetica,Sans-serif;
  font-weight: lighter;
  text-decoration: none;
  color:  #262626;
  transition: ease-in-out 0.15s ;
}

header.sticky .menu-item a{
  padding: 10px 15px 10px 15px;
  color : #fff;
  font-size : 1.2em;
}

header.sticky .menu-item:hover a{
  color : var(--main-theme-color);
  background-color: #fff;
}

.menu-item:hover a{
  background-color: #206ea5;
  color : #fff;
}
