body{
  margin : 0;
}

header{
  max-height: 8vh;
  display: flex;
  border-bottom: 3px #206ea5 solid;
  position: sticky;
  top:0;
}

header.sticky{
  max-height: 5.5vh;
  background-color: #206ea5;
  border-bottom: none;
}



#main-menu-container{
  float: right;
  margin-right: 5vw;
  flex: 2;
  text-align: center;
}

#menu-logo,#menu-logo-white{
    height : 85%;
    padding: 5px;
}

#menu-logo-container{
  margin-left: 15vw;
  flex : 1;
}

header.sticky #menu-logo-white{
  display: block;
}

header.sticky #menu-logo{
  display: none;
}

#main-menu{
  display: inline-block;
  height: 100%;
  transition: margin-top 0.2s;
}

#menu-list{
  display: block;
  margin: 0px;
  height : 100%;
  padding: 0px;
}

.menu-item{
  display: inline-block;
  height : 100%;
}

.menu-item a{
  display : block;
  padding: 3vh 1.5vw 3vh 1.5vw;
  font-size: 100%;
  font-size : 2vh;
  text-decoration: none;
  color:  #262626;
  transition: all linear 0.1s ;
}

header.sticky .menu-item a{
  padding: 1.75vh 1.5vw 1.75vh 1.5vw;
  color : #fff;
}

header.sticky .menu-item:hover a{
  color : #206ea5;
  background-color: #fff;
}

.menu-item:hover a{
  background-color: #206ea5;
  color : #fff;
}
