body
{
    background-color: #0E0E0E;
}
p
{
    padding-left: 8.5%;
}

#NamePreset
{
    border-radius: 5px;
    border-width: thin;
    font-size: 80%;
    /*border: 2px solid green;*/
    background-color:#242424;
    color:  #1DB954;
    padding: 1%;
    text-align:center;
}

::placeholder
{
    font-style : italic;
}

#MainDiv
{
    background-color:#242424;
    width:90%;
    height:250px; 
    border-radius:15px; 
    margin: auto;
}

#DropdownDiv
{
    background-color: #434141; 
    width:20%; 
    margin-left: auto;
    border: 2px solid  #1DB954;
    border-radius: 10px;
}

#CapteursDiv
{
    font-family: Arial, Helvetica, sans-serif;
    color: #1DB954;
    text-align: center;
}

#CapteursListe
{
    margin: none;
    padding: none;
    list-style: none;
    display: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #1DB954;
}

div nav .center 

ul div ul li /*affecte la liste des capteurs*/
{
    float: right;
    width: 200px;
    height: 35px;
    line-height: 150%; /*espace les lignes*/
}

div nav ul div:hover #CapteursListe
{
    display:block; 
}


#CapteursListe li:hover a
{
    display: block;
    background-color: #4ff74f;
    color: #242424;
}

#SaveZone
{
    text-align: center;
    margin-top: 2%;
}

#SaveZone:hover #Save
{
    background-color:#4ff74f;
}
#Save
{
    border-radius: 10px;
    font-size: 120%;
    border: 2px solid #1DB954;
    background-color: #1DB954;
    padding: 1%;
    text-align:center;
    width: 25%;
}


.fa-arrow-left
{
    padding-left: 8.5%;
    font-size: 150%;
    color: #1DB954;
}

.fa:hover .fa-arrow-left
{
    color: #66ff66;
}
