<div id="modal-contact" class="modal">



	<!-- Modal content -->
	<div class="modal-content">


		<a class="close" id="close-contact" href='<?php strtok($_SERVER["REQUEST_URI"],' ? ')?>? '>&times;</a>

		<form>

				<h2>Connexion</h2>
				Mail :
				<input type="text" name="mail"><br>
				Mot de passe :
				<input type="password" name="password"><br>
				<input type="submit" value="Se connecter">
			</form>

			<a href="#">Mot de passe oublié ?</a>
			<a href="#">Créer un compte</a>
	</div>

</div>



