

<div id="modal-login" class="modal">



	<!-- Modal content -->
	<div class="modal-content">


		<a class="close" id="close-login">&times;</a>

		<form method="post" action="handlers/handle-login.php" target="login-result">

				<h2>Connexion</h2>
				Mail :
				<input type="text" name="mail"><br>
				Mot de passe :
				<input type="password" name="password"><br>
				<input type="submit" value="Se connecter" name="login">
			</form>
			<iframe name="login-result"></iframe>

			<a href="#">Mot de passe oublié ?</a>
			<a href="#">Créer un compte</a>
	</div>

</div>



