.component{
	border-radius: 5px;
	padding: 1em;
	background-color: #fff;
	width: 120px;
	max-width: 120px;
	padding: 15px;
	box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	position: relative;
	}
.component:not(:first-child){
	margin-left: 4%;
}

.fa-minus-square{
	position: absolute;
	top: -5px;
	right: -7px;
	background: #fff;
	color:  rgba(250,0,0,0.4);
	cursor: pointer;
}

.fa-minus-square:hover{
	color : #ff0000;
}

.no-click{
	pointer-events: none;
}
.cursor-not-allowed{
	cursor: not-allowed;
}

.component_title{
	color : #262626;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	font-weight:bold;
	margin-bottom: 10px;
}

.component_middle{
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	height: 45%;
	margin-bottom: auto;
}

.component_middle div{
	text-align: center;
}

.component-value{
	font-family: "Arial Black";
	font-size: 1.2em;
	flex: 1;
	flex-grow: 1;
}

.change-component-value{
	display : flex;
	flex-direction: column;
}

.change-component-value button{
	background-color:#fff;
	border: none;
	cursor: pointer;
}

.change-component-value button:hover i{
	color: #FE785C;
}

.component-plus-button,.component-minus-button{
	padding-top: 25%;
	padding-bottom: 15%;
}

.component_bas{
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 30px;
	margin-top: 10px;
}

.comp-details-opener{
	cursor: pointer;
}

.comp-details-opener:hover{
	color: #FE785C;
}

.form-switch {
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
	margin-right: 20px;
}

.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: .5rem;
  width: 46px;
  height: 26px;
  background-color: #e6e6e6;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}

.form-switch i::before {
  content: "";
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}

.form-switch i::after {
  content: "";
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after { transform: translate3d(16px, 2px, 0); }

.form-switch input { display: none; }

.form-switch input:checked + i { background-color: #4BD763; }

.form-switch input:checked + i::before { transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0); }

.form-switch input:checked + i::after { transform: translate3d(22px, 2px, 0); }
