.component {
  display          : -webkit-box;
  display          : -ms-flexbox;
  display          : flex;
  position         : relative;
  width            : 120px;
  max-width        : 120px;
  padding          : 1em;
  padding          : 15px;
  border-radius    : 5px;
  background-color : #fff;
  -webkit-box-shadow       : 1px 1px 5px 2px rgba(0, 0, 0, 0.3);
          box-shadow       : 1px 1px 5px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-orient   : vertical;
  -webkit-box-direction   : normal;
      -ms-flex-direction   : column;
          flex-direction   : column;
}

.component:not(:first-child) {
  margin-left : 4%;
}

.fa-minus-square {
  position   : absolute;
  top        : -5px;
  right      : -7px;
  color      : rgba(250,0,0,0.4);
  background : #fff;
  cursor     : pointer;
}

.fa-minus-square:hover {
  color : #ff0000;
}

.no-click {
  pointer-events : none;
}

.cursor-not-allowed {
  cursor : not-allowed;
}

.component_title {
  margin-bottom : 10px;
  color         : #262626;
  text-align    : center;
  font-family   : 'Montserrat',
                  sans-serif;
  font-weight   : bold;
}

.component_middle {
  display         : -webkit-box;
  display         : -ms-flexbox;
  display         : flex;
  height          : 45%;
  margin-bottom   : auto;
  -webkit-box-align     : center;
      -ms-flex-align     : center;
          align-items     : center;
  -webkit-box-orient  : horizontal;
  -webkit-box-direction  : normal;
      -ms-flex-direction  : row;
          flex-direction  : row;
  -webkit-box-pack : center;
      -ms-flex-pack : center;
          justify-content : center;
}

.component_middle div {
  text-align : center;
}

.component-value {
  font-family : "Arial Black";
  font-size   : 1.2em;
  -webkit-box-flex        : 1;
      -ms-flex        : 1;
          flex        : 1;
  -ms-flex-positive   : 1;
      flex-grow   : 1;
}

.change-component-value {
  display        : -webkit-box;
  display        : -ms-flexbox;
  display        : flex;
  -webkit-box-orient : vertical;
  -webkit-box-direction : normal;
      -ms-flex-direction : column;
          flex-direction : column;
}

.change-component-value button {
  border           : none;
  background-color : #fff;
  cursor           : pointer;
}

.change-component-value button:hover i {
  color : #FE785C;
}

.component-minus-button,
.component-plus-button {
  padding-top    : 25%;
  padding-bottom : 15%;
}

.component_bas {
  display         : -webkit-box;
  display         : -ms-flexbox;
  display         : flex;
  height          : 30px;
  margin-top      : 10px;
  -webkit-box-align     : center;
      -ms-flex-align     : center;
          align-items     : center;
  -webkit-box-orient  : horizontal;
  -webkit-box-direction  : normal;
      -ms-flex-direction  : row;
          flex-direction  : row;
  -webkit-box-pack : center;
      -ms-flex-pack : center;
          justify-content : center;
}

.comp-details-opener {
  cursor : pointer;
}

.comp-details-opener:hover {
  color : #FE785C;
}

.form-switch {
  display                     : inline-block;
  margin-right                : 20px;
  -webkit-tap-highlight-color : transparent;
  cursor                      : pointer;
}

.form-switch i {
  display          : inline-block;
  position         : relative;
  width            : 46px;
  height           : 26px;
  margin-right     : .5rem;
  border-radius    : 23px;
  background-color : #e6e6e6;
  vertical-align   : text-bottom;
  -webkit-transition       : all 0.3s linear;
  transition       : all 0.3s linear;
}

.form-switch i::before {
  content          : "";
  position         : absolute;
  left             : 0;
  width            : 42px;
  height           : 22px;
  border-radius    : 11px;
  background-color : #fff;
  -webkit-transform        : translate3d(2px, 2px, 0) scale3d(1, 1, 1);
          transform        : translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  -webkit-transition       : all 0.25s linear;
  transition       : all 0.25s linear;
}

.form-switch i::after {
  content          : "";
  position         : absolute;
  left             : 0;
  width            : 22px;
  height           : 22px;
  border-radius    : 11px;
  background-color : #fff;
  -webkit-box-shadow       : 0 2px 2px rgba(0, 0, 0, 0.24);
          box-shadow       : 0 2px 2px rgba(0, 0, 0, 0.24);
  -webkit-transform        : translate3d(2px, 2px, 0);
          transform        : translate3d(2px, 2px, 0);
  -webkit-transition       : all 0.2s ease-in-out;
  transition       : all 0.2s ease-in-out;
}

.form-switch:active i::after {
  width     : 28px;
  -webkit-transform : translate3d(2px, 2px, 0);
          transform : translate3d(2px, 2px, 0);
}

.form-switch:active input:checked + i::after {
  -webkit-transform : translate3d(16px, 2px, 0);
          transform : translate3d(16px, 2px, 0);
}

.form-switch input {
  display : none;
}

.form-switch input:checked + i {
  background-color : #4BD763;
}

.form-switch input:checked + i::before {
  -webkit-transform : translate3d(18px, 2px, 0) scale3d(0, 0, 0);
          transform : translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

.form-switch input:checked + i::after {
  -webkit-transform : translate3d(22px, 2px, 0);
          transform : translate3d(22px, 2px, 0);
}
