<div id="modal-contact" class="modal">



	<!-- Modal content -->
	<div class="modal-content">


		<a class="close" id="close-contact" href='<?php strtok($_SERVER["REQUEST_URI"],' ? ')?>? '>&times;</a>

		<form>

				<h2>Créez votre compte</h2>
				Nom de famille :
				<input type="text" name="lastname">
				<br> Prénom :
				<input type="text" name="firstname">
				<br> Adresse email :
				<input type="emailaddress" name="emailaddress">
				<br> Numéro de téléphone :
				<input type="tel" name="telephonenumber">
				<br> Créer son mot de passe :
				<input type="password" name="password">
				<br> Confirmer son mot de passe :
				<input type="password" name="password confirmation">
				<br> Numéro de série de l'un de vos composant Domisep :
				<input type="text" name="serialnumber">
				<br>
				<input type="submit">
			</form>
	</div>

</div>



