<div id="modal-contact" class="modal">

	<!-- Modal content -->
	<div class="modal-content" align="center">


		<a class="close" id="close-contact" href='<?php strtok($_SERVER["REQUEST_URI"],)?>'times;</a>

		<form>
			<table>

				<tr>
				<td align ="right">
				<h2>Créez votre compte</h2>
				</td>
				</tr>

				<tr>
				<td align ="right">
				Nom de famille :
				<input type="text" placeholder="Nom de famille" name="lastname">
				</td>
				</tr>
				
				<tr>
				<td align ="right">
				<br> Prénom :
				<input type="text" placeholder = "Prénom" name="firstname">
				</td>
				</tr>

				<tr>
				<td align ="right">
				<br> Adresse email :
				<input type="emailaddress" placeholder = "Votre adresse mail" name="emailaddress">
				</td>
				</tr>

				<tr>
				<td align ="right">
				<br> Numéro de téléphone :
				<input type="tel" placeholder ="Votre numéro de téléphone" name="telephonenumber">
				</td>
				</tr>
				
				<tr>
				<td align ="right">
				<br> Créer son mot de passe :
				<input type="password" placeholder ="Mot de passe" name="password">
				</td>
				</tr>

				<tr>
				<td align ="right">
				<br> Confirmer son mot de passe :
				<input type="password" placeholder ="Confirmer me mot de passe" name="password confirmation">
				</td>
				</tr>

				<tr>
				<td align ="right">
				<br> Numéro de série de l'un de vos composant Domisep :
				<input type="text" placeholder = "Numéro de série" name="serialnumber">
				</td>
				</tr>

				<tr>
				<td align ="right">
				<br>
				<input type="submit">
				</td>
				</tr>
				
			</table>
		</form>
	</div>

</div>



